/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.ekincare-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  height: 100vh;
}
.ekincare-button--primary {
  color: white;
  background-color: #1ea7fd; 
  /* TO_DO: get background from a theme file */
}
.ekincare-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.ekincare-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.ekincare-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.ekincare-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
